.header {
  padding-top: 24px;
  padding-bottom: 25px;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  background: var(--main-bgc);
}

.header-container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__list {
  display: flex;
  align-items: center;
}

.header-nav__item + .header-nav__item {
  margin-left: 50px;
}

.header-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);
  position: relative;
  &::after {
    content: '';
    position: absolute;

    width: 100%;
    height: 4px;

    left: 0;
    top: 46px;

    background-color: var(--accent-color);
    border-radius: 4px;
  }
}

.nav-contacts__sprite-mail {
  fill: currentColor;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.nav-contacts__sprite-tel {
  fill: currentColor;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
